[Unit]
Description=Xcape Daemon
After=graphical.target

[Service]
Type=forking
ExecStart=/usr/bin/xcape -e "Mode_switch=semicolon;Hyper_R=Return;Shift_L=Escape;Shift_R=Escape"
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
